@use "@/app/typography.scss" as *;

.successBlock {
  background-color: var(--white);
  padding: 149px 24px 70px 24px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  @media screen and (min-width: 504px) {
    padding: 60px 64px;
    min-height: auto;
    max-width: 504px;
    border-radius: 36px;

    gap: 32px;

  }
}

.title {
  @include text-preset-1-mobile;

  @media screen and (min-width: 768px) {
    @include text-preset-1;
  }

 
}

.description {
  @include text-preset-2-regular;

  &__email {
    font-weight: bold;
  }

}

.button {
  padding: 16px 100px;
  background-color: var(--blue-800);
  border-radius: 8px;

  color: var(--white);
  @include text-preset-2-bold;

  &:hover {
      background: var(--gradient);
      box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
    }
}