@use "@/app/typography.scss" as *;

.contentBlock {
  width: 100%;
  background-color: var(--white);
  min-height: 100vh;
  @media screen and (min-width: 504px) {
    border-radius: 36px;
    padding: 42px 40px;
    width: 608px;
    min-height: auto;
    box-shadow: 0px 15px 60px 0px rgba($color: #000000, $alpha: 0.25);
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: row;
    gap: 64px;
    width: 904px;

    padding: 24px 32px;

    .imageBlock {
      order: 2;
    }

    .container {
      order: 1; 
    }
  }
}
.imageBlock {
  width: 100%;
  aspect-ratio: 375 / 284;
  overflow: hidden;
  border-radius: 0 0 16px 16px;
  background: var(--gradient);

  padding-top: 24px;

  &__image {
    width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
  }

  @media screen and (min-width: 608px) {
    padding-top: 26.5px;
    border-radius:16px;

    aspect-ratio: 528 / 358.29;
  }

   @media screen and (min-width: 1440px) {
    padding-top: 93px;
   aspect-ratio: 400 / 593;
   
  }
}

.container {
  padding: 40px 24px 44px;

  @media screen and (min-width: 608px) {
    padding: 0;
  }

  @media screen and (min-width: 1440px) {
    min-width: 376px;
    margin: auto 0;
  }
}
.textBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-bottom: 40px;

  &__title {
    @include text-preset-1-mobile;

    @media screen and (min-width: 608px) {
      @include text-preset-1
    }
  }
  &__description {
    @include text-preset-2-regular;
  }

  @media screen and (min-width: 608px) {
    padding-top: 40px;
  }

  @media screen and (min-width: 1440px) {
    padding: 0;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__item {
    display: flex;
    align-items: start;
    gap: 16px;

    @include text-preset-2-regular;
  }
  &__icon {
    width: 21px;
    height: 21px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  &__label {
    @include text-preset-3;
    margin-bottom: 8px;
  }

  &__input {
    color: var(--blue-800);
    padding: 16px 24px;

    border: 1px solid grey;
    border-radius: 8px;

    @include text-preset-2-regular;

    margin-bottom: 24px;
    transition: border-color 0.2s ease;

    &:hover,
    &:active {
      border-color: var(--blue-800);
    }

    &::placeholder {
      color: var(--grey);
    }
  }

  &__button {
    background-color: var(--blue-800);
    color: var(--white);
    @include text-preset-2-bold;

    padding: 16px 47px;

    border-radius: 8px;
    transition: box-shadow 0.2s ease;

    &:hover {
      background: var(--gradient);
      box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
    }
  }
}



.labelBlock {
  display: flex;
  justify-content: space-between;
}

.errorLabel {
  @include text-preset-3;
  color: var(--red);
}

.errorInput {
  background-color: #ffe7e5;
  color: var(--red);


  border: 1px solid var(--red);
   &:hover,
    &:active {
      border: 1px solid var(--red);
    }
}